/* Surprise Popup */

#popup{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.8);

justify-content:center;

align-items:center;

z-index:1000;

}

.gift-box{

width:750px;

background:white;

padding:30px;

border-radius:20px;

text-align:center;

animation:open .8s;

}

.photos{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:15px;

margin-top:20px;

}

.photos img{

width:100%;

height:220px;

object-fit:cover;

border-radius:15px;

transition:.5s;

}

.photos img:hover{

transform:
scale(1.05);

}

.close{

float:right;

font-size:35px;

cursor:pointer;

}

@keyframes open{

0%{

transform:
scale(.2)
rotate(-20deg);

opacity:0;

}

100%{

transform:
scale(1);

opacity:1;

}

}